<div class="wrapper">
  <h1>Edit <%= @group.name %> <%= link_to '', group_path(@group), method: :delete, data: { confirm: "Are you sure?" }, class: 'glyphicon glyphicon-trash'%></h1><br>
    <%= render 'form' %>  
</div>
