<h3>Here are your active groups:</h3>
  <%= render partial: 'table', locals: {groups: @groups.active_groups.recent }%>
  <br><br>

  <h3>Inactive groups:</h3>
  <%= render partial: 'table', locals: {groups: @groups.inactive_groups.recent }%>
<br><br>

<%= link_to "Create A New Group", new_group_path, class: 'button-1' %><br>
