<h3>Here are your groups:</h3>

<% current_user.groups.each do |group| %>
  <li><%= link_to "#{group.name}", group_path(group) %></li>
<% end %><br>

<%= link_to "Create A New Group", new_group_path %>
