<h1>ABACUS - Your Personal Expense Tracker</h1><br>

<h4>Number of Groups you currently have: <%= link_to group_count, groups_path %></h4><br><br>

<%= link_to "Create A New Group", new_group_path, class: 'button-1' %><br>
