<div class="wrapper">
    <h4>Hi, <%= current_user.username %></h4><br>
      <div class="edit-group">
      </div>
      <div class="group-form">
        <%= render 'groups/form' %><br>
      </div>

      <div class="groups-container">
        <h3>Active Groups:</h3>
          <div class="active_groups">
            <%= render partial: 'groups/table', locals: {groups: @groups.active_groups.recent}%>
            <br>
          </div>

        <h3>Inactive groups:</h3>
        <button id="inactive-group-btn">Hide/Show</button>
          <div class="inactive_groups">
            <%= render partial: 'groups/table', locals: {groups: @groups.inactive_groups.recent }%>
          </div>

      </div>

</div>
