<h4>HI, <%= current_user.username.upcase %></h4><br>

<% if current_user.groups.empty? %>
  <h4>You don't have any groups</h4>
<% else %>
  <h3>Here Are Your Most Recent Groups:</h3>
    <%= render partial: 'groups/table', locals: {groups: @groups.active_groups.recent}%>
  <br>

  <% if !current_user.groups.inactive_groups.empty? %>
  <h3>Inactive groups:</h3>
    <%= render partial: 'groups/table', locals: {groups: @groups.inactive_groups.recent }%>
  <% end %>
  <br><br>
<% end %>
  <%= link_to "Create A New Group", new_group_path, class: 'button-1' %><br>
