<div id="summary">
  <p><strong>Min expense:</strong> <%= number_to_currency(min) %></p>
  <p><strong>Max expense:</strong> <%= number_to_currency(max) %></p>
  <p><strong>Avg expense:</strong> <%= number_to_currency(average) %></p>
</div>
