<div id="summary">
  <p><strong>Min expense:</strong></p>
  <p><%= number_to_currency(min) %></p>
  <p><strong>Max expense:</strong>
  <p><%= number_to_currency(max) %></p>
  <p><strong>Avg expense:</strong>
  <p><%= number_to_currency(average) %></p>
</div>
