<table id="groups">
  <thead>
    <tr>
      <th>Minimum Expense</th>
      <th>Maximum Expense</th>
      <th>Average Expense</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= number_to_currency(min) %></td>
        <td><%= number_to_currency(max) %></td>
        <td><%= number_to_currency(average) %></td>
      </tr>
  </tbody>
</table>
