<h1>Edit Expense <%= link_to "", group_expense_path(@expense.group_id, @expense.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'glyphicon glyphicon-trash' %></h1>

<%= render 'form' %>
